.nav-item{
    margin: 0% 2% 0% 2%;
}

.nav-link{
    font-size: 20px;
    color: black;
}
.red-line{
    border-top: 1px solid red;
    width: 70%;
    margin: 5% 15% 1% 15%;
    
}

.backgroundimage{
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-image: image("img/landingpage_1.jpg");
}

.transparten-rect{
    position: absolute;
    height: 300px;
    width: 500px;
    color: red;
}


.overlay{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: white;
    opacity: 0.95;

}